<template>
  <div class="alertBar container">
    <div
      class="alert"
      :class="{
        'alert-success': $store.state.success,
        'alert-danger': $store.state.error,
      }"
      role="alert"
    >
      {{ $store.state.alertMessage }}
    </div>
  </div>
</template>

<script>
export default {
  name: "AlertBar",
};
</script>
