<template>
  <div
    class="row bg-image"
    style="
          background-position: center;
        "
    :style="'background-image: url(\'' + info.image + '\');'"
  >
    <div class="row p-4">
      <router-link :to="{ name: link, params: {} }">
        <button class="btn btn-light">Retour</button>
      </router-link>
    </div>
    <div class="row pb-2 ps-4">
      <p class="text-light">{{ info.name }}</p>
      <p class="text-light">{{ info.address }}</p>
    </div>
    <!-- Début Breadcrumb -->
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li
            v-for="(crumb, ci) in crumbs"
            :key="ci"
            class="align-items-center"
          >
            >
            <button
              class="btn btn-link"
              :class="{ disabled: isLast(ci, crumbs) }"
            >
              {{ crumb }}
            </button>
          </li>
        </ol>
      </nav>
    </div>
    <!-- Fin Breadcrumb -->
  </div>
</template>

<script lang="ts">
export default {
  name: "BannerNav",
  props: {
    info: Object,
    link: String,
    crumbs: {
      type: Array,
      required: true,
    },
  },
  methods: {
    isLast(index: number, crumbs: any) {
      return index === crumbs.length - 1;
    },
  },
};
</script>
