<template>
  <div class="container">
    <div>
      <select
        v-model="selected"
        class="form-select form-select-lg mb-3"
        title="Some placeholder text..."
        required
      >
        <option value="" selected="true" disabled="true"
          >Faites votre choix...</option
        >
        <option v-for="a of article" :key="a._id">
          {{ a }}
        </option>
      </select>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "ChoiceList",
  props: {
    article: [],
  },
  data() {
    return {
      selected: "",
    };
  },
  setup() {},
});
</script>
