<template>
  <div
    class="fixed-bottom w-100 text-light bg-dark fs-6 d-flex align-items-center justify-content-center"
    style="z-index: 120; height: 45px;"
  >
    <span
      >&#x1F36A; Nous utilisons des cookies pour vous garantir la meilleure
      expérience possible sur notre site web. Voir notre
      <router-link
        class="link-light text-decoration-none text-primary"
        :to="{ name: 'PrivacyPolicy' }"
      >
        Politique de confidentialité </router-link
      >.
    </span>
    <button
      type="button"
      class="btn btn-success fs-6 rounded lh-1 ms-3"
      style="height: 30px; width: 110px;"
    >
      Autoriser
    </button>
  </div>
</template>

<script lang="ts">
export default {
  name: "Cookies",
};
</script>
