<template>
  <div class="footer mt-5">
    <div class="bg-dark">
      <div class="container">
        <ul class="list-unstyled d-flex flex-column align-items-end mb-0 py-3">
          <li>
            <router-link
              class="link-light text-decoration-none"
              :to="{ name: 'LegalNotices' }"
            >
              Mentions légales
            </router-link>
          </li>
          <li>
            <router-link
              class="link-light text-decoration-none"
              :to="{ name: 'PrivacyPolicy' }"
            >
              Politique de confidentialité
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: "Header",
};
</script>
