<template>
  <form
    @submit.prevent="onSubmitForm"
    method="post"
    enctype="multipart/form-data"
  >
    <div class="row" v-if="success_form || error_form">
      <div class="alert alert-success" role="alert" v-if="success_form">
        {{ success_message }}
      </div>
      <div class="alert alert-danger" role="alert" v-if="error_form">
        {{ error_message }}
      </div>
    </div>
    <div class="row">
      <div
        v-for="form_input in form_inputs"
        :key="form_input.name"
        :class="[
          form_input.type != 'hidden' ? 'mb-4 ' + form_input.class : 'd-none',
        ]"
      >
        <label class="form-label fw-bold" :for="prefix + form_input.name">{{
          form_input.label
        }}</label>

        <!-- TEXT -->
        <input
          v-if="getFieldType(form_input.type) == 'text'"
          :type="form_input.type"
          :id="prefix + form_input.name"
          class="form-control"
          :name="form_input.name"
          v-model="form_values[form_input.name]"
          :required="form_input.required"
        />

        <!-- PRICE -->
        <input
          v-if="form_input.type == 'price'"
          type="number"
          :id="prefix + form_input.name"
          class="form-control"
          :name="form_input.name"
          v-model="form_values[form_input.name]"
          :required="form_input.required"
          step="0.01"
        />

        <!-- FILE -->
        <input
          v-if="form_input.type == 'file'"
          :type="form_input.type"
          :id="prefix + form_input.name"
          class="form-control"
          :name="form_input.name"
          :accept="form_input.accept"
          v-model="form_values[form_input.name]"
          @change="uploadFile($event)"
        />

        <!-- SELECT -->
        <select
          v-if="form_input.type == 'select'"
          :id="prefix + form_input.name"
          class="form-select"
          :name="form_input.name"
          :required="form_input.required"
          v-model="form_values[form_input.name]"
          :multiple="form_input.multiple"
        >
          <option
            v-for="option in form_input.options"
            :key="option._id"
            :value="option._id"
          >
            {{ option.name }}
          </option>
        </select>

        <!-- SELECT2 -->
        <div class="row" v-if="form_input.type == 'select2'">
          <div class="col-md-10">
            <select
              :id="prefix + form_input.name"
              class="form-select"
              :name="form_input.name"
              :required="form_input.required"
              v-model="form_values[form_input.name]"
              v-show="!edit_type"
            >
              <option
                v-for="option in form_input.options"
                :key="option._id"
                :value="option._id"
              >
                {{ option.name }}
              </option>
            </select>

            <input
              v-model.trim="type_value"
              type="text"
              class="form-control"
              v-show="edit_type"
            />
          </div>
          <div class="col-md-2">
            <button
              class="btn btn-dark"
              @click.prevent="buttonClicked(form_input)"
            >
              <i
                class="bi"
                :class="{
                  'bi-pencil-fill': !edit_type,
                  'bi-save-fill': edit_type,
                }"
              ></i>
            </button>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button
          type="submit"
          :name="form_submit_btn.name"
          class="btn btn-dark btn-block my-4"
        >
          {{ form_submit_btn.label }}
        </button>
      </div>
    </div>
  </form>
</template>

<script>
import axios from "@/axios/index";

export default {
  name: "TextField",
  props: {
    form_inputs: Object,
    post_url: String,
    put_url: String,
    form_action: String,
    form_submit_btn: Object,
    success_message: String,
    form_default_data: Object,
    form_put_data: Object,
    edit_data_url: String,
    prefix: String,
    roles: Array,
  },
  data() {
    return {
      form_values: {},
      selectedFile: null,
      success_form: false,
      error_form: false,
      error_message: "",
      edit_type: false,
      type_value: "",
    };
  },
  mounted() {
    this.$store.commit("checkAccess", {
      mustBeLogged: true,
      roles: this.roles,
    });

    //add options for the selects
    for (let input of this.form_inputs) {
      if (input.options_get) {
        input.options = [];
        axios
          .get(input.options_get)
          .then((response) => {
            this.$store.dispatch("handleResponse", {
              response: response,
              access: {
                mustBeLogged: true,
                roles: this.roles,
              },
            });

            for (let option of response.data) {
              input.options.push({
                _id: option._id,
                name: option.name,
              });
            }
          })
          .catch((error) => {
            this.$store.dispatch("handleResponse", {
              response: error,
              access: {
                mustBeLogged: true,
                roles: this.roles,
              },
            });

            console.error(error);
          });
      }
    }

    // init default data
    for (let item in this.form_default_data) {
      this.form_values[item] = {};
      for (let key in this.form_default_data[item]) {
        this.form_values[item][key] = this.form_default_data[item][key];
      }
    }

    // init PUT values
    if (this.form_action == "put" && this.edit_data_url) {
      axios.get(this.edit_data_url).then((response) => {
        this.$store.dispatch("handleResponse", {
          response: response,
          access: {
            mustBeLogged: true,
            roles: this.roles,
          },
        });

        delete response.data.image;

        for (let item in response.data) {
          if (
            response.data[item] != null &&
            typeof response.data[item] == "object"
          ) {
            this.form_values[item] = {};
            for (let key in response.data[item]) {
              this.form_values[item][key] = response.data[item][key]
                ? response.data[item][key]
                : "";
            }
          } else {
            this.form_values[item] = response.data[item]
              ? response.data[item]
              : "";
          }
        }
      });
    }
  },
  methods: {
    getFieldType(type) {
      switch (type) {
        case "text":
        case "number":
        case "email":
        case "password":
          return "text";
        default:
          return type;
      }
    },
    onSubmitForm(e) {
      this.error_form = false;
      this.success_form = false;

      this.$emit("beforeSend", this.form_values);

      if (this.form_action == "post") {
        axios
          .post(this.post_url, this.form_values)
          .then((response) => {
            this.$store.dispatch("handleResponse", {
              response: response,
              access: {
                mustBeLogged: true,
                roles: this.roles,
              },
            });

            if (response.status >= 200 && response.status < 300) {
              this.success_form = true;
              this.$emit("onDone", response.data);
            } else {
              this.error_message = response.response.data.message;
              this.error_form = true;
            }
          })
          .catch((error) => {
            this.$store.dispatch("handleResponse", {
              response: error,
              access: {
                mustBeLogged: true,
              },
            });

            this.error_message = error.response.data.message;
            this.error_form = true;
          });
      } else if (this.form_action == "put") {
        this.error_form = false;
        this.success_form = false;
        axios
          .put(this.put_url, this.form_values)
          .then((response) => {
            this.$store.dispatch("handleResponse", {
              response: response,
              access: {
                mustBeLogged: true,
                roles: this.roles,
              },
            });

            if (response.status >= 200 && response.status < 300) {
              this.success_form = true;
              this.$emit("onDone", response.data);
            } else {
              this.error_message = response.response.data.message;
              this.error_form = true;
            }
          })
          .catch((error) => {
            this.$store.dispatch("handleResponse", {
              response: error,
              access: {
                mustBeLogged: true,
              },
            });

            this.error_message = error.response.data.message;
            this.error_form = true;
          });
      }
    },
    uploadFile(e) {
      this.$emit("uploadFile", e);
    },
    buttonClicked(input) {
      if (this.edit_type && this.type_value) {
        input.options.push({ _id: this.type_value, name: this.type_value });
        this.form_values[input.name] = this.type_value;
      }

      this.edit_type = !this.edit_type;
    },
  },
};
</script>