<template>
  <div class="header sticky-top mb-5">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <router-link class="navbar-brand" :to="{ name: 'Home' }"
          ><img src="/img/logo-blanc.png"
        /></router-link>

        <router-link
          class="my-0 navbar-brand"
          :to="{ name: 'Login' }"
          v-if="!this.$store.state.isLogged"
        >
          Se connecter
        </router-link>

        <template v-else>
          <router-link
            class="my-0 navbar-brand"
            :to="{ name: 'AccountForm', params: { id_account: 'aa' } }"
          >
          </router-link>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <div class="dropdown">
              <div
                class="dropdown-toggle"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="cursor: pointer"
              >
                <i class="bi bi-person-circle text-light h2 px-2"></i>
                <i
                  class="bi bi-caret-down-fill text-light align-text-bottom"
                ></i>
              </div>
              <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="dropdownMenuButton1"
              >
                <li>
                  <router-link
                    class="dropdown-item"
                    :to="{ name: 'AccountForm' }"
                  >
                    Mon compte
                  </router-link>
                </li>             
                <li @click="logout" style="cursor: pointer">
                  <span class="dropdown-item">Déconnexion</span>
                </li>
              </ul>
            </div>

            <template v-if="this.$store.state.user.user.role !== 'commercial' && this.$store.state.user.user.role !== '3rd_party_dev'">
              <router-link :to="{ name: 'History' }">
                <i class="bi bi-file-earmark-text text-light h2 px-3"></i>
              </router-link>
            </template>

            <template v-if="this.$store.state.user.user.role == 'user'">
              <router-link :to="{ name: 'Panier' }">
                <i class="bi bi-cart4 text-light h2 px-3"></i>
              </router-link>
            </template>

             <template v-if="this.$store.state.user.user.role == 'commercial'">
              <router-link :to="{ name: 'Statistics' }">
                <i class="bi bi-graph-up text-light h2 px-3"></i>
              </router-link>

              <router-link :to="{ name: 'AllAccounts' }">
                <i class="bi bi-file-earmark-person text-light h2 px-3"></i>
              </router-link>
            </template>

          </div>
        </template>
      </div>
    </nav>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "Header",
  methods: {
    logout() {
      this.$emit("onLogout");
    },
  },
});
</script>

