<template>
  <div>
    <p>
      Prix : <span class="fw-bold border">{{ price }} €</span>
    </p>
  </div>
</template>

<script lang="ts">
export default {
  name: "Price",
  props: {
    price: Number,
  },
  data() {
    return {
      number: "",
    };
  },
};
</script>
