<template>
  <div class="card">
    <router-link :to="product_route">
      <img
        :src="product.image"
        :alt="product.name"
        class="card-img-top"
        style="object-fit: contain"
        width="auto"
        height="200"
      />
    </router-link>

    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.price }}€</p>
      <router-link
        :to="edit_route"
        class="mx-2 btn btn-dark"
        v-if="$store.state.user.user.role == 'restaurateur'"
      >
        <i class="bi bi-pencil-fill"></i>
      </router-link>
      <button
        @click="deleteProduct(product._id)"
        class="mx-2 btn btn-danger"
        v-if="$store.state.user.user.role == 'restaurateur'"
      >
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "ProductCard",
  props: {
    product: Object,
    product_route: Object,
    edit_route: Object,
  },
  methods: {
    deleteProduct(product_id: number) {
      this.$emit("onDeleteProduct", product_id);
    },
  },
});
</script>