<template>
  <div>
    <div class="input-group">
      <span class="input-group-btn border border-dark">
        <button
          type="button"
          class="btn btn-default btn-number"
          data-type="minus"
          @click="decrement()"
        >
          <span class="glyphicon glyphicon-minus">&mdash;</span>
        </button>
      </span>
      <input
        type="text"
        :value="quantity"
        readonly
        class="form-control input-number border border-dark"
      />
      <span class="input-group-btn border border-dark">
        <button
          type="button"
          class="btn btn-default btn-number"
          data-type="plus"
          @click="increment()"
        >
          <span class="glyphicon glyphicon-plus">&#xff0b;</span>
        </button>
      </span>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "Quantity",
  data() {
    return {
      quantity: 1,
    };
  },
  methods: {
    increment() {
      this.quantity += 1;
      this.$emit("quantitychanged", this.quantity);
    },
    decrement() {
      if (this.quantity === 1) {
        alert("Une quantité ne peut pas être négative.");
      } else {
        this.quantity -= 1;
        this.$emit("quantitychanged", this.quantity);
      }
    },
  },
});
</script>
