<template>
  <div class="card">
    <router-link
      :to="{ name: 'Restaurant', params: { id_restaurant: restaurant._id } }"
    >
      <img
        :src="restaurant.image"
        :alt="restaurant.name"
        class="card-img-top"
        style="object-fit: contain"
        width="auto"
        height="200"
      />
    </router-link>

    <div class="card-body">
      <h5 class="card-title">{{ restaurant.name }}</h5>
      <p class="card-text">{{ restaurant.description }}</p>
      <router-link
        v-if="$store.state.user.user.role == 'restaurateur'"
        :to="{
          name: 'RestaurantEdit',
          params: { id_restaurant: restaurant._id },
        }"
        class="mx-2 btn btn-dark"
      >
        <i class="bi bi-pencil-fill"></i>
      </router-link>
      <button
        @click="deleteRestaurant(restaurant._id)"
        class="mx-2 btn btn-danger"
        v-if="$store.state.user.user.role == 'restaurateur'"
      >
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "RestaurantCard",
  props: {
    restaurant: Object,
  },
  methods: {
    deleteRestaurant(restaurant_id: string) {
      this.$emit("onDeleteRestaurant", restaurant_id);
    },
  },
});
</script>