<template>
  <div>
    <HeaderNav @onLogout="onLogout" />
    <AlertBar v-if="$store.state.success || $store.state.error" />
    <router-view />
    <cookie-consent
      message="&#x1F36A; Nous utilisons des cookies pour vous garantir la meilleure
      expérience possible sur notre site web. &nbsp;"
      linkLabel=""
      buttonLabel="Autoriser"
      href=""
      cookieName="cookie_Ceseat"
      class="text-light bg-dark fs-6 d-flex align-items-center justify-content-center mt-2"
      style="height: 45px;"
    />
    <FooterNav />
  </div>
</template>

<script>
import CookieConsent from "vue-cookieconsent-component";
import HeaderNav from "@/components/HeaderNav.vue";
import FooterNav from "@/components/FooterNav.vue";
import AlertBar from "@/components/AlertBar.vue";

import axios from "@/axios/index";

export default {
  name: "App",
  components: {
    CookieConsent,
    HeaderNav,
    FooterNav,
    AlertBar,
  },
  methods: {
    onLogout() {
      axios
        .put("/logout", { id: this.$store.state.user.user.id_user })
        .then(() => {
          this.$store.commit("logout");
          this.$router.push({ name: "Login" });
        });
    },
  },
};
</script>
