<template>
  <div class="useraccount-form">
    <div class="container">
      <FormFactory
        :form_inputs="form_inputs"
        :form_submit_btn="form_submit_btn"
        :put_url="'/account/' + $store.state.user.user.id_user"
        success_message="Compte modifié !"
        form_action="put"
        :edit_data_url="'/account/' + $store.state.user.user.id_user"
        prefix="account"
      />
      <div class="row">
        <div class="col">
          <button class="btn btn-danger" @click="deleteAccount">
            Supprimer le compte
          </button>
        </div>
      </div>
      <div class="row" v-if="$store.state.user.user.sponsored_by">
        <div class="col-6">
          <p>
            Vous avez été parrainé par :
            {{ $store.state.user.user.sponsored_by }}.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FormFactory from "@/components/FormFactory";
import axios from "@/axios/index";

export default {
  name: "AccountForm",
  data() {
    return {
      form_submit_btn: {
        name: "submitUserAccount",
        label: "Enregistrer",
      },
      sponsored_name: null,
      form_inputs: [
        {
          type: "text",
          name: "firstname",
          class: "col-6",
          label: "Prénom",
          required: true,
        },
        {
          type: "text",
          name: "address",
          class: "col-6",
          label: "Adresse",
        },
        {
          type: "text",
          name: "lastname",
          class: "col-6",
          label: "Nom",
          required: true,
        },
        {
          type: "number",
          name: "postcode",
          class: "col-6",
          label: "Code postal",
        },
        {
          type: "email",
          name: "email",
          class: "col-6",
          label: "Adresse mail",
          required: true,
        },
        {
          type: "text",
          name: "city",
          class: "col-6",
          label: "Ville",
        },
      ],
    };
  },
  components: {
    FormFactory,
  },

  mounted() {
    axios
      .get(
        "/account/sponsor/" +
          encodeURIComponent(this.$store.state.user.user.sponsored_by)
      )
      .then((user) => {
        this.sponsored_name = user.firstname + " " + user.lastname;
      });
  },

  methods: {
    deleteAccount() {
      if (
        confirm(
          "Souhaitez-vous vraiment supprimer votre compte ? Cette action est irréversible."
        )
      ) {
        axios
          .delete("/account/" + this.$store.state.user.user.id_user)
          .then(() => {
            this.$store.commit("logout");
            this.$store.state.success = true;
            this.$store.state.alertMessage = "Compte supprimé avec succès.";
            this.$router.push({ name: "Login" });
          });
      }
    },
  },
};
</script>
