<template>
  <div class="Account">
    <div class="container">
      <h1 style="text-align: center" class="mb-5">
        Gestion des comptes utilisateurs
      </h1>

      <div class="row col-3 ms-2 my-4">
        <input
          class="form-control"
          type="text"
          placeholder="Recherchez un compte..."
          aria-label="Search"
          v-model="searchQuery"
        />
      </div>

      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <!--<th scope="col">Date de naissance</th>-->
            <th scope="col">City</th>
            <th scope="col">Code Postal</th>
            <th scope="col">Adresse</th>
            <th scope="col">Role</th>
            <th scope="col">Etat</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="a in resultQuery" :key="a.key">
            <th scope="row">{{ a.id }}</th>
            <td>{{ a.firstname }}</td>
            <td>{{ a.lastname }}</td>
            <td>{{ a.email }}</td>
            <!--<td>{{a.birth_date}}</td>-->
            <td>{{ a.city }}</td>
            <td>{{ a.postcode }}</td>
            <td>{{ a.address }}</td>
            <td>
              <select
                class="form-select"
                aria-label="Default select example"
                v-model="roles[a.id]"
                @change="onRoleChange(a.id)"
              >
                <option value="user">Client</option>
                <option value="restaurateur">Restaurateur</option>
                <option value="deliver">Livreur</option>
                <option value="commercial">Commercial</option>
                <option value="3rd_party_dev">Developpeur</option>
              </select>
            </td>

            <!--<td>{{ actives[a.id] ? "Actif" : "Suspendu" }}</td>-->

            <td>
              <button
                class="btn btn-sm"
                :class="{
                  'btn-danger': actives[a.id],
                  'btn-success': !actives[a.id],
                }"
                @click="
                  actives[a.id] ? suspendAccount(a.id) : activateAccount(a.id)
                "
              >
                {{ !actives[a.id] ? "Activer" : "Suspendre" }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axios from "@/axios/index";

export default {
  name: "Panier",
  data() {
    return {
      accounts: [],
      actives: [],
      roles: [],
      searchQuery: null,
    };
  },
  computed: {
    resultQuery() {
      if (this.searchQuery) {
        return this.accounts.filter((a) => {
          return this.searchQuery
            .toLowerCase()
            .split(" ")
            .every((v) => {

                let str = [a.lastname, a.firstname, a.id, a.email].join(" ")

                return str.toLowerCase().includes(v)

            }
            )
        });
      } else {
        return this.accounts;
      }
    },
  },
  mounted() {
    axios
      .get("/account/")
      .then((acc) => {
        this.$store.dispatch("handleResponse", {
          response: acc,
          access: {
            mustBeLogged: true,
          },
        });

        this.accounts = acc.data;
        for (let account of this.accounts) {
          this.actives[account.id] = account.active;
          this.roles[account.id] = account.role;
        }
      })
      .catch((error) => {
        this.$store.dispatch("handleResponse", {
          response: error,
          access: {
            mustBeLogged: true,
          },
        });
        console.error(error);
      });
  },
  methods: {
    suspendAccount(id) {
      axios
        .put("/account/suspend/" + id, {
          active: 0,
        })
        .then(() => {
          this.actives[id] = 0;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    activateAccount(id) {
      axios
        .put("/account/suspend/" + id, {
          active: 1,
        })
        .then(() => {
          this.actives[id] = 1;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onRoleChange(id) {
      axios
        .put("/account/role/" + id, {
          role: this.roles[id],
        })
        .then(() => {})
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>