<template>
  <div class="restaurant-form">
    <div class="container">
      <h1 class="text-center mb-5">Ajouter un article</h1>
      <div class="row mx-auto">
        <div class="col-4 offset-4">
          <div class="row">
            <FormFactory
              :form_inputs="form_inputs"
              :form_submit_btn="form_submit_btn"
              post_url="/article"
              :put_url="'/article/' + $route.params.id_article"
              :form_default_data="form_default_data"
              :success_message="
                this.$route.params.id_article
                  ? 'Article modifié !'
                  : 'Article créé !'
              "
              @uploadFile="sendImage"
              @beforeSend="addImageLink"
              :roles="roles"
              :form_action="$route.params.id_article ? 'put' : 'post'"
              :edit_data_url="'/article/' + $route.params.id_article"
              prefix="article"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FormFactory from "@/components/FormFactory";
import axios from "@/axios/index";

export default {
  name: "ArticlesForm",
  data() {
    return {
      form_submit_btn: {
        name: "submitArticle",
        label: this.$route.params.id_article
          ? "Modifier un article"
          : "Ajouter un article",
      },
      form_inputs: [
        {
          required: true,
          type: "text",
          name: "name",
          class: "col-12",
          label: "Nom de l'article",
        },
        {
          required: true,
          type: "select2",
          name: "type",
          class: "col-12",
          label: "Type",
          options: [],
          options_get: "/article/types/" + this.$route.params.id_restaurant,
        },
        {
          required: true,
          type: "price",
          name: "price",
          class: "col-12",
          label: "Prix",
        },
        {
          required: true,
          type: "file",
          name: "image",
          class: "col-12",
          label: "Ajouter une image",
          accept: "image/*",
        },
      ],
      form_default_data: {
        restaurant: {
          _id: this.$route.params.id_restaurant,
        },
      },
      roles: ["restaurateur"],
    };
  },
  components: {
    FormFactory,
  },
  methods: {
    sendImage(event) {
      let images = event.target.files;
      if (typeof images != "undefined") {
        const formData = new FormData();
        for (const i of Object.keys(images)) {
          formData.append("files", images[i], Date.now() + ".png");
        }

        let config = {
          header: {
            "Content-Type": "image/png",
          },
        };
        axios.post("/upload-image", formData, config).then((response) => {
          this.file = response.data;
        });
      }
    },
    addImageLink(form_values) {
      form_values.image = this.file;
    },
  },
};
</script>
