<template>
  <div class="menu" style="margin-top: -3rem !important">
    <div class="container">
      <BannerNav :info="restaurant" link="Restaurant" />
      <!--<router-link :to="{ name: 'Restaurant', params: {} }">
        <button class="btn btn-light">Retour</button>
      </router-link>-->
      
      <h1 class="mb-4">Votre article</h1>
      <div class="row">
        <div class="col-md-6">
          <div class="row mb-3">
            <h2 class="text-center">{{ article.name }}</h2>
          </div>
          <div class="row">
            <img
              class="img-responsive float-left d-block w-75"
              :src="article.image"
              style="margin: 0 auto"
            />
          </div>
        </div>
        <div class="col-md-6 border-start border-2 border-dark">
          <div class="row mb-3">
            <h2 class="text-center">Total</h2>
          </div>
          <div class="row">
            <div class="container"></div>
            <div class="row p-2">
              <div class="col-md-4 offset-md-2">
                <span>Quantité&#xA0;:</span>
                <Quantity @quantitychanged="onQuantityChanged" />
              </div>
              <div class="col-md-4 offset-md-2 align-self-md-end">
                <Price :price="totalPrice" />
              </div>
            </div>
            <div class="d-flex justify-content-center">
              
              <button v-if="$store.state.user.user.role != 'restaurateur'"
                @click="onValidate"
                type="button"
                class="btn btn-default btn-dark mt-4"
              >
                Ajouter au panier
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.img-responsive {
  max-width: -webkit-fill-available;
}
</style>
<script>
import BannerNav from "@/components/BannerNav";
import Quantity from "@/components/Quantity.vue";
import Price from "@/components/Price.vue";
import axios from "@/axios/index";
export default {
  name: "Article",
  components: {
    BannerNav,
    Quantity,
    Price,
  },
  computed: {
    totalPrice() {
      return this.quantity * this.article.price;
    },
  },
  data() {
    return {
      article: {},
      restaurant: [],
      quantity: 1,
      price: 0,
    };
  },
  methods: {
    onQuantityChanged(quantity) {
      this.quantity = quantity;
    },
    onSelected(article) {
      article.article.selectedType = article.selected;
    },
    onValidate() {
      let article = Object.assign({}, this.article);
      article.quantity = this.quantity;
      article.price = this.totalPrice;

      if (!this.$store.state.restaurant_info.id) {
        this.$store.commit("saveRestaurantData", this.restaurant);
      }
      
      if (
        this.$store.state.restaurant_info.id == this.$route.params.id_restaurant
      ) {
        this.$store.commit("addToCart", article);
      } else {
        this.$store.state.error = true
        this.$store.state.alertMessage = 'Vous ne pouvez pas commander dans deux restaurants différents'
        return false
      }

      this.$router.push({name: 'Restaurant'})


    },
  },

  mounted() {
    axios
      .get("/article/" + this.$route.params.id_article)
      .then((articles) => {
        this.$store.dispatch("handleResponse", {
          response: articles,
          access: {
            mustBeLogged: true,
          },
        });

        this.article = articles.data;
        this.restaurant = articles.data.restaurant_info;
      })
      .catch((error) => {
        this.$store.dispatch("handleResponse", {
          response: error,
          access: {
            mustBeLogged: true,
          },
        });

        console.error(error);
      });
  },
};
</script>
