<template>
  <div class="about">
    <div class="row mb-5">
        <h1 style="text-align: center">Composant npm réutilisable</h1>
    </div>
    <div class="row">
    <h3 style="text-align: center"><a href="https://www.npmjs.com/package/ceseats-form-factory" target="_blank">Ces'eat form factory</a></h3>
    </div>
  </div>
</template>

<script>

export default {
  name: "Developper",

  data() {
    return {    
    };
  }
}
</script>
