<template>
  <div class="container">
    <h1 style="text-align: center">Historique des commandes</h1>
    <div class="container mt-5">
      <div class="panel panel-default panel-order">
        <div v-for="article in histories" :key="article._id">
          <div class="panel-body">
            <!-- Début bloc commande -->
            <div class="row py-4" style="border-bottom: 1px solid #ccc">
              <div class="col-md-1 mx-auto pt-3 text-center">
                <img
                  :src="article.restaurant_info.img"
                  class="media-object img-thumbnail"
                  style="width: 80px"
                />
              </div>
              <div class="col-md-11" style="border-left: 1px solid #ccc">
                <div class="row">
                  <div class="col-md-12 mt-2">
                    <div class="mb-2">
                      <span
                        ><strong>{{
                          article.restaurant_info.name
                        }}</strong></span
                      >
                      |
                      <span class="label label-info">
                        {{ article.restaurant_info.city }}
                      </span>
                    </div>
                    <div v-for="h in article.details" :key="h">
                      <div>
                        Quantité : {{ h.quantity }}, Article : {{ h.name }},
                        Prix article : {{ h.price }} €
                      </div>
                    </div>
                    <div class="mt-2">
                      <span class="text-decoration-underline">Prix total</span>
                      :
                      <span class="fw-bold"> {{ article.price }} €</span>
                    </div>

                    <div
                      class="
                        d-grid
                        gap-2
                        d-md-flex
                        justify-content-md-end
                        mr-2
                        my-2
                      "
                    >
                      {{ status[article._id].status }}
                    </div>

                    <template
                      v-if="this.$store.state.user.user.role == 'restaurateur'"
                    >
                      <div
                        class="d-grid gap-2 d-md-flex justify-content-md-end"
                      >
                        <button
                          v-if="status[article._id].status_key == 'wait'"
                          type="submit"
                          class="btn btn-dark btn-block my-3"
                          @click="
                            updateStatus({
                              status_key: 'validated',
                              id: article._id,
                              status: 'Commande validée par le restaurant',
                            })
                          "
                        >
                          Valider la Commande
                        </button>

                        <button
                          v-if="
                            status[article._id].status_key !== 'canceled' &&
                            status[article._id].status_key !== 'delivered'
                          "
                          type="submit"
                          class="btn btn-danger btn-block my-3"
                          @click="
                            updateStatus({
                              status_key: 'canceled',
                              id: article._id,
                              status: 'Commande annulée par le restaurant',
                            })
                          "
                        >
                          Annuler la Commande
                        </button>
                      </div>
                    </template>

                    <template
                      v-else-if="this.$store.state.user.user.role == 'deliver'"
                    >
                      <div
                        class="d-grid gap-2 d-md-flex justify-content-md-end"
                      >
                        <button
                          v-if="
                            status[article._id].status_key == 'validated' ||
                            status[article._id].status_key == 'cancelByDeliver'
                          "
                          type="submit"
                          class="btn btn-dark btn-block my-3"
                          @click="
                            updateStatus({
                              status_key: 'took',
                              id: article._id,
                              status: 'Le livreur est en route vers le restaurant',
                            })
                          "
                        >
                          S'occuper de cette commande
                        </button>

                         <button
                          v-if=" status[article._id].status_key == 'took'"
                          type="submit"
                          class="btn btn-dark btn-block my-3"
                          @click="
                            updateStatus({
                              status_key: 'delivering',
                              id: article._id,
                              status: 'Le livreur est en route',
                            })
                          "
                        >
                          Commande réceptionnée au restaurant
                        </button>

                        <button
                          v-if="
                            status[article._id].status_key == 'delivering'
                          "
                          type="submit"
                          class="btn btn-dark btn-block my-3"
                          @click="
                            updateStatus({
                              status_key: 'delivered',
                              id: article._id,
                              status: 'Commande livrée',
                            })
                          "
                        >
                          Commande délivrée
                        </button>

                        <button
                          v-if="status[article._id].status_key == 'took'"
                          type="submit"
                          class="btn btn-danger btn-block my-3"
                          @click="
                            updateStatus({
                              status_key: 'cancelByDeliver',
                              id: article._id,
                              status:
                                'Commande annulée par le livreur, en attente d\'un nouveau livreur',
                            })
                          "
                        >
                          Annuler la Commande
                        </button>
                      </div>
                    </template>
                  </div>
                  <div
                    class="col-md-12 pt-1 pb-1 fs-6"
                    style="color: #555; background: #efefef"
                  >
                    Date de commande : {{ article.created_at }}
                  </div>
                </div>
              </div>
            </div>
            <!-- Fin du bloc commande -->
          </div>
        </div>
        <!-- Fin de l'appel-->
      </div>
    </div>
  </div>
</template>

<script>
import axios from "@/axios/index";

export default {
  name: "History",
  data() {
    return {
      histories: [],
      link: "",
      status: {},
    };
  },
  mounted() {
    switch (this.$store.state.user.user.role) {
      case "user":
        this.link =
          "/order/history/user/" + this.$store.state.user.user.id_user;
        break;

      case "deliver":
        this.link = "/order/history/deliver";
        break;

      case "restaurateur":
        this.link =
          "/order/history/restaurateur/" + this.$store.state.user.user.id_user;
        break;
    }

    axios
      .get(this.link)
      .then((histories) => {
        this.$store.dispatch("handleResponse", {
          response: histories,
          access: {
            mustBeLogged: true,
          },
        });

        this.histories = histories.data;

        for (let history of this.histories) {
          this.status[history._id] = {};
          this.status[history._id].status_key = history.status_key;
          this.status[history._id].status = history.status;
        }
        console.log(this.histories);
      })
      .catch((error) => {
        this.$store.dispatch("handleResponse", {
          response: error,
          access: {
            mustBeLogged: true,
          },
        });

        console.error(error);
      });
  },

  methods: {
    updateStatus(data) {
      console.log(data);
      axios
        .put("/order/status/" + data.id, {
          status: data.status,
          status_key: data.status_key,
        })
        .then(() => {
          this.status[data.id].status_key = data.status_key;
          this.status[data.id].status = data.status;
        });
    },
  },
};
</script>
