<template>
  <div class="home">
    <div class="container">
      <router-link
        :to="{ name: 'RestaurantAdd' }"
        class="btn btn-dark"
        v-if="$store.state.user.user.role == 'restaurateur'"
      >
        Ajouter un restaurant
      </router-link>
    </div>

    <div class="container col-md-4 mb-5">
      <div class="row">
        <input
          class="form-control"
          type="text"
          placeholder="Recherchez un restaurant..."
          aria-label="Search"
          v-model="searchQuery"
        />
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div
          class="col-6 col-md-4 mb-4"
          v-for="restaurant in resultQuery"
          :key="restaurant._id"
        >
          <RestaurantCard
            :restaurant="restaurant"
            @onDeleteRestaurant="deleteRestaurant"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RestaurantCard from "@/components/RestaurantCard";
import axios from "@/axios/index";

export default {
  name: "Home",
  components: {
    RestaurantCard,
  },
  data() {
    return {
      restaurants: [],
      searchQuery: null,
    };
  },
  computed: {
    resultQuery() {
      if (this.searchQuery) {
        return this.restaurants.filter((restaurant) => {
          return this.searchQuery
            .toLowerCase()
            .split(" ")
            .every((v) => restaurant.name.toLowerCase().includes(v));
        });
      } else {
        return this.restaurants;
      }
    },
  },
  mounted() {
    let link =
      this.$store.state.user.user.role == "restaurateur"
        ? "/restaurant/restaurateur/" + this.$store.state.user.user.id_user
        : "/restaurant";

    console.log("link", link);
    console.log("user", this.$store.state.user.user);

    axios
      .get(link)
      .then((response) => {
        this.$store.dispatch("handleResponse", {
          response: response,
          access: {
            mustBeLogged: true,
            roles: ["user", "restaurateur"],
          },
        });

        this.restaurants = response.data;
      })
      .catch((error) => {
        this.$store.dispatch("handleResponse", {
          response: error,
          access: {
            mustBeLogged: true,
            roles: ["user", "restaurateur"],
          },
        });

        console.error(error);
      });
  },
  methods: {
    deleteRestaurant(restaurant_id) {
      axios
        .delete("/restaurant/" + restaurant_id)
        .then((response) => {
          this.$store.dispatch("handleResponse", {
            response: response,
            access: {
              mustBeLogged: true,
              roles: ["user", "restaurateur"],
            },
          });

          let index = this.restaurants
            .map((x) => {
              return x.id;
            })
            .indexOf(id);

          delete this.restaurants[index];
        })
        .catch((error) => {
          this.$store.dispatch("handleResponse", {
            response: error,
            access: {
              mustBeLogged: true,
              roles: ["user", "restaurateur"],
            },
          });

          console.error(error);
        });
    },
  },
};
</script>
