<template>
  <div class="login">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="row mb-3"><h1 class="text-center">Connexion</h1></div>
          <div class="row">
            <FormFactory
              prefix="login"
              :form_inputs="login_form_inputs"
              form_action="post"
              :form_submit_btn="login_form_submit_btn"
              post_url="/login"
              :form_default_data="login_form_default_data"
              success_message="Vous êtes connecté !"
              @onDone="populateStore"
            />
          </div>
        </div>
        <div class="col-md-6 border-start border-2 border-dark">
          <div class="row mb-3"><h1 class="text-center">Inscription</h1></div>
          <div class="row">
            <FormFactory
              prefix="register"
              :form_inputs="register_form_inputs"
              form_action="post"
              :form_submit_btn="register_form_submit_btn"
              post_url="/register"
              :form_default_data="register_form_default_data"
              success_message="Votre compte a été créé !"
            />
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>
    </div>
  </div>
</template>

<script>
import FormFactory from "@/components/FormFactory";

export default {
  name: "Login",
  data() {
    return {
      login_form_submit_btn: {
        name: "submitLogin",
        label: "Se connecter",
      },
      login_form_inputs: [
        {
          type: "email",
          name: "email",
          class: "col-12",
          label: "Adresse email",
          required: true,
        },
        {
          type: "password",
          name: "password",
          class: "col-12",
          label: "Mot de passe",
          required: true,
        },
      ],
      login_form_default_data: {},
      register_form_submit_btn: {
        name: "submitRegister",
        label: "S'enregistrer",
      },
      register_form_inputs: [
        {
          type: "text",
          name: "firstname",
          class: "col-12",
          label: "Prénom",
          required: true,
        },
        {
          type: "text",
          name: "lastname",
          class: "col-12",
          label: "Nom",
          required: true,
        },
        {
          type: "email",
          name: "email",
          class: "col-12",
          label: "Adresse email",
          required: true,
        },
        {
          type: "password",
          name: "password",
          class: "col-12",
          label: "Mot de passe",
          required: true,
        },
        {
          type: "text",
          name: "sponsored_by",
          class: "col-12",
          label: "Code parrain",
        },
      ],
      register_form_default_data: {},
    };
  },
  components: {
    FormFactory,
  },
  methods: {
    populateStore(user) {
      this.$store.commit("loginSuccess", user);
      localStorage.setItem("user", JSON.stringify(user));
      this.$router.push({ name: "Home" });
    },
  },
  mounted() {
    if (this.$store.state.isLogged) {
      this.$router.push({ name: "Home" });
    }
  },
};
</script>
