<template>
  <div class="menu-form">
    <div class="container">
      <h1 class="text-center mb-5">Ajouter un menu</h1>
      <FormFactory
        :form_inputs="form_inputs"
        :form_submit_btn="form_submit_btn"
        post_url="/menu"
        :put_url="'/menu/' + $route.params.id_menu"
        :form_default_data="form_default_data"
        :success_message="
          this.$route.params.id_menu ? 'Menu modifié !' : 'Menu créé !'
        "
        @uploadFile="sendImage"
        @beforeSend="addImageLink"
        :roles="roles"
        :form_action="$route.params.id_menu ? 'put' : 'post'"
        :edit_data_url="'/menu/' + $route.params.id_menu"
        prefix="menu"
      />
    </div>
  </div>
</template>

<script>
import FormFactory from "@/components/FormFactory";
import axios from "@/axios/index";

export default {
  name: "MenuForm",
  data() {
    return {
      form_submit_btn: {
        name: "submitMenu",
        label: this.$route.params.id_menu
          ? "Modifier un menu"
          : "Ajouter un menu",
      },
      form_inputs: [
        {
          required: true,
          type: "text",
          name: "name",
          class: "col-6",
          label: "Nom",
        },
        {
          required: true,
          type: "price",
          name: "price",
          class: "col-6",
          label: "Prix",
        },
        {
          required: true,
          type: "text",
          name: "description",
          class: "col-6",
          label: "Description",
        },
        {
          required: true,
          type: "file",
          name: "image",
          class: "col-6",
          label: "Ajouter une image",
          accept: "image/*",
        },
        {
          required: true,
          type: "select",
          multiple: true,
          name: "articles",
          class: "col-6",
          label: "Choisissez les articles du menu",
          options_get:
            "/article/restaurant/" + this.$route.params.id_restaurant,
          options: [],
        },
      ],
      form_default_data: {
        restaurant: {
          _id: this.$route.params.id_restaurant,
        },
      },
      roles: ["restaurateur"],
    };
  },
  components: {
    FormFactory,
  },
  methods: {
    sendImage(event) {
      let images = event.target.files;
      if (typeof images != "undefined") {
        const formData = new FormData();
        for (const i of Object.keys(images)) {
          formData.append("files", images[i], Date.now() + ".png");
        }

        let config = {
          header: {
            "Content-Type": "image/png",
          },
        };
        axios.post("/upload-image", formData, config).then((response) => {
          this.file = response.data;
        });
      }
    },
    addImageLink(form_values) {
      form_values.image = this.file;
    },
  },
};
</script>
