<template>
  <div class="menu" style="margin-top: -3rem !important">
    <div class="container">
      <BannerNav :info="restaurant" link="Restaurant" />
      <!--<router-link :to="{ name: 'Restaurant', params: {} }">
      <button class="btn btn-light">Retour</button>
    </router-link>-->
      <h1 class="mb-4">Composez votre menu</h1>
      <div class="row">
        <div class="col-md-6">
          <div class="row mb-3">
            <h2 class="text-center">{{ name }}</h2>
          </div>
          <div class="row">
            <img
              class="img-responsive float-left d-block w-75"
              :src="menu.image"
              style="margin: 0 auto"
            />
          </div>
        </div>
        <div class="col-md-6 border-start border-2 border-dark">
          <div class="row mb-3">
            <h2 class="text-center">Choix des articles</h2>
          </div>
          <div class="row">
            <div class="container col-10">
              <div
                v-for="(article, articleType) in articles"
                :key="articleType"
              >
                {{ articleType }}
                <div>
                  <select
                    v-model="selected[articleType]"
                    class="form-select form-select-lg mb-3"
                  >
                    <option value="" selected="true" disabled="true">
                      Faites votre choix...
                    </option>
                    <option v-for="a of article" :key="a" :value="a">
                      {{ a }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-md-4 offset-md-2">
                <span>Quantité&#xA0;:</span>
                <Quantity @quantitychanged="onQuantityChanged" />
              </div>
              <div class="col-md-4 offset-md-2 align-self-md-end">
                <Price :price="totalPrice" />
              </div>
            </div>
            <div v-if="errorMessage" class="container col-10">
              <div class="alert alert-danger alert-dismissible" role="alert">
                <button
                  type="button"
                  class="btn btn-danger"
                  data-dismiss="alert"
                  aria-label="Close"
                  @click="hidefunction"
                  style="margin-right: 8px"
                >
                  <span aria-hidden="true">&times;</span></button
                ><strong>Attention !</strong> Vous n'avez pas tout sélectionné !
              </div>
            </div>
            <div class="d-flex justify-content-center">
                <button
                  v-if="$store.state.user.user.role != 'restaurateur'"
                  type="button"
                  class="btn btn-default btn-dark mt-4"
                  @click.prevent="onValidate"
                >
                  Ajouter au panier
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.img-responsive {
  max-width: -webkit-fill-available;
}
</style>
<script>
import BannerNav from "@/components/BannerNav";
import Quantity from "@/components/Quantity.vue";
import ChoiceList from "@/components/ChoiceList.vue";
import Price from "@/components/Price.vue";
import axios from "@/axios/index";
export default {
  name: "Menu",
  components: {
    BannerNav,
    ChoiceList,
    Quantity,
    Price,
  },
  computed: {
    totalPrice: function () {
      return this.quantity * this.price;
    },
  },
  data() {
    return {
      selected: {},
      articles: [],
      restaurant: [],
      quantity: 1,
      price: 0,
      name: "",
      errorMessage: false,
      menu: {},
      crumbs: ["Home", "Restaurant", "Menu"],
    };
  },
  methods: {
    onQuantityChanged(quantity) {
      this.quantity = quantity;
    },
    onValidate() {
      for (let article in this.articles) {
        if (this.selected[article] == "") {
          this.errorMessage = true;
          return false;
        }
      }

      let article = this.menu;
      article.articles = this.selected;
      article.quantity = this.quantity;
      article.price = this.totalPrice;

      if (!this.$store.state.restaurant_info.id) {
        this.$store.commit("saveRestaurantData", this.restaurant);
      }

      if (
        this.$store.state.restaurant_info.id == this.$route.params.id_restaurant
      ) {
        this.$store.commit("addToCart", article);
      } else {
        this.$store.state.error = true;
        this.$store.state.alertMessage =
          "Vous ne pouvez pas commander dans deux restaurants différents";
        return false;
      }
      this.$router.push({name: 'Restaurant'})
    },
    hidefunction() {
      this.errorMessage = false;
    },
  },
  mounted() {
    axios
      .get("/menu/" + this.$route.params.id_menu)
      .then((articles) => {
        this.$store.dispatch("handleResponse", {
          response: articles,
          access: {
            mustBeLogged: true,
          },
        });

        this.menu = articles.data;
        this.articles = articles.data.articles;
        this.price = articles.data.price;
        this.name = articles.data.name;
        this.restaurant = articles.data.restaurant_info;

        for (let article in this.articles) {
          this.selected[article] = "";
        }
      })
      .catch((error) => {
        this.$store.dispatch("handleResponse", {
          response: error,
          access: {
            mustBeLogged: true,
          },
        });
        console.error(error);
      });
  },
};
</script>
