<template>
  <div class="container">
    <h1 style="text-align: center">Panier</h1>
    <div v-if="!$store.state.cart.length" class="mt-4">
      <p style="text-align: center">Votre panier est vide</p>
    </div>
    <template v-else>
      <div class="card mb-3">
        <div class="row">
          <div class="col-md-4">
            <img
              class="img-fluid rounded-start"
              :src="$store.state.restaurant_info.image"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                {{ $store.state.restaurant_info.name }}
              </h5>

              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Contenu</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="article in $store.state.cart" :key="article._id">
                    <td class="align-middle">{{ article.name }}</td>
                    <td class="align-middle">
                      <ul v-if="article.articles" class="m-0">
                        <li v-for="(a, type) in article.articles" :key="type">
                          {{ a }}
                        </li>
                      </ul>
                    </td>
                    <td class="align-middle">{{ article.quantity }}</td>
                    <td class="align-middle">{{ article.price }} €</td>
                    <td class="align-middle">
                      <button
                        class="btn btn-danger btn-sm"
                        @click="deleteArticle(article._id)"
                      >
                        <i class="bi bi-x-lg"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <p class="fw-bold text-end">Prix total : {{ totalPrice }} €</p>
      </div>
      <div
        class="d-grid gap-2 d-md-flex justify-content-md-end"
        v-if="totalPrice"
      >
        <button
          class="btn btn-dark"
          @click="
            buyOrder({
              client_info: $store.state.user.user,
              restaurant_info: $store.state.restaurant_info,
              price: totalPrice,
              details: $store.state.cart,
            })
          "
        >
          Payer la commande
        </button>
      </div>
    </template>
  </div>
</template>

<script>
import axios from "@/axios/index";

export default {
  name: "Panier",
  data() {
    return {};
  },
  computed: {
    totalPrice: function () {
      let cart = this.$store.state.cart;

      let totalPrice = 0;
      for (let article of cart) {
        totalPrice += article.price;
      }

      return totalPrice;
    },
  },
  methods: {
    deleteArticle(article_id) {
      this.$store.commit("deleteArticleFromCart", article_id);
    },

    buyOrder(data) {
      axios
        .post("/order", {
          client: data.client_info,
          restaurant: data.restaurant_info,
          price: data.price,
          details: data.details,
          delivers: [],
        })
        .then((response) => {
          this.$store.dispatch("handleResponse", {
            response: response,
            access: {
              mustBeLogged: true,
              roles: ["user"],
            },
          });

          this.$store.commit("deleteAllArticleFromCart");
          this.$store.dispatch("sendNotifications", {
            message:
              "Votre commande pour le restaurant " +
              response.data.restaurant_info.name,
            title: "Commande validée !",
          });
        })
        .catch((error) => {
          this.$store.dispatch("handleResponse", {
            response: error,
            access: {
              mustBeLogged: true,
              roles: ["user"],
            },
          });

          console.error(error);
        });
    },
  },
};
</script>
