<template>
  <div class="container">
    <h2 class="mb-4">Politique de confidentialité de CesEats</h2>

    <p>
      La présente Politique de confidentialité décrit la façon dont vos
      informations personnelles sont recueillies, utilisées et partagées lorsque
      vous vous rendez sur ceseats.fr (le « Site ») ou que vous y effectuez un
      achat.
    </p>

    <h3>INFORMATIONS PERSONNELLES RECUEILLIES</h3>

    <p>
      Lorsque vous vous rendez sur le Site, nous recueillons automatiquement
      certaines informations concernant votre appareil, notamment des
      informations sur votre navigateur web, votre adresse IP, votre fuseau
      horaire et certains des cookies qui sont installés sur votre appareil.<br />
    </p>
    <p>
      En outre, lorsque vous parcourez le Site, nous recueillons des
      informations sur les pages web ou produits individuels que vous consultez,
      les sites web ou les termes de recherche qui vous ont permis d'arriver sur
      le Site, ainsi que des informations sur la manière dont vous interagissez
      avec le Site.
    </p>
    <p>
      Nous désignons ces informations collectées automatiquement sous
      l'appellation « Informations sur l'appareil ». Nous recueillons les
      Informations sur l'appareil à l'aide des technologies suivantes : FICHIERS
      TÉMOINS (COOKIES).
    </p>

    <p>
      Voici une liste de fichiers témoins que nous utilisons. Nous les avons
      énumérés ici pour que vous ayez la possibilité de choisir si vous
      souhaitez les autoriser ou non.
    </p>

    <p>
      _session_id, identificateur unique de session, permet à Shopify de stocker
      les informations relatives à votre session (référent, page de renvoi,
      etc.). _shopify_visit, aucune donnée retenue, persiste pendant 30 minutes
      depuis la dernière visite. Utilisé par le système interne de suivi des
      statistiques du fournisseur de notre site web pour enregistrer le nombre
      de visites. _shopify_uniq, aucune donnée retenue, expire à minuit (selon
      l’emplacement du visiteur) le jour suivant. Calcule le nombre de visites
      d’une boutique par client unique. cart, identificateur unique, persiste
      pendant 2 semaines, stocke l’information relative à votre panier d’achat.
      _secure_session_id, identificateur unique de session storefront_digest,
      identificateur unique, indéfini si la boutique possède un mot de passe, il
      est utilisé pour savoir si le visiteur actuel a accès. - Les « fichiers
      journaux » suivent l'activité du Site et recueillent des données telles
      que votre adresse IP, le type de navigateur que vous utilisez, votre
      fournisseur d'accès Internet, vos pages référentes et de sortie, et vos
      données d'horodatage (date et heure). - Les « pixels invisibles », les
      « balises » et les « pixels » sont des fichiers électroniques qui
      enregistrent des informations sur la façon dont vous parcourez le Site.
    </p>
    <p>
      Par ailleurs, lorsque vous effectuez ou tentez d'effectuer un achat par le
      biais du Site, nous recueillons certaines informations vous concernant,
      notamment votre nom, votre adresse de facturation, votre adresse
      d'expédition, vos informations de paiement (y compris vos numéros de
      cartes de crédit et de cartes bancaires, votre adresse e-mail et votre
      numéro de téléphone. Ces informations collectées automatiquement sont
      désignées par l’appellation « Informations sur la commande ».
    </p>
    <p>
      Lorsque nous utilisons l'expression « Informations personnelles » dans la
      présente Politique de confidentialité, nous faisons allusion à la fois aux
      Informations sur l'appareil et aux Informations sur la commande.
    </p>

    <h3>COMMENT UTILISONS-NOUS VOS INFORMATIONS PERSONNELLES ?</h3>

    <p>
      En règle générale, nous utilisons les Informations sur la commande que
      nous recueillons pour traiter toute commande passée par le biais du Site
      (y compris pour traiter vos informations de paiement, organiser
      l'expédition de votre commande et vous fournir des factures et/ou des
      confirmations de commande). En outre, nous utilisons ces Informations sur
      la commande pour : communiquer avec vous ;évaluer les fraudes ou risques
      potentiels ; et lorsque cela correspond aux préférences que vous nous avez
      communiquées, vous fournir des informations ou des publicités concernant
      nos produits ou services.
    </p>
    <p>
      Nous utilisons les Informations sur l'appareil (en particulier votre
      adresse IP) que nous recueillons pour évaluer les fraudes ou risques
      potentiels et, de manière plus générale, pour améliorer et optimiser notre
      Site (par exemple, en générant des analyses sur la façon dont nos clients
      parcourent et interagissent avec le Site, et pour évaluer la réussite de
      nos campagnes de publicité et de marketing).
    </p>
    <h3>PARTAGE DE VOS INFORMATIONS PERSONNELLES</h3>
    <p>
      Nous partageons vos Informations personnelles avec des tiers qui nous
      aident à les utiliser aux fins décrites précédemment. Par exemple, nous
      utilisons Shopify pour héberger notre boutique en ligne – pour en savoir
      plus sur l'utilisation de vos Informations personnelles par Shopify,
      veuillez consulter la page suivante :
      https://www.shopify.fr/legal/confidentialite.
    </p>
    <p>
      Nous utilisons également Google Analytics pour mieux comprendre comment
      nos clients utilisent le Site – pour en savoir plus sur l'utilisation de
      vos Informations personnelles par Google, veuillez consulter la page
      suivante : https://www.google.com/intl/fr/policies/privacy/.
    </p>
    <p>Vous pouvez aussi désactiver Google Analytics ici :</p>
    <p>
      https://tools.google.com/dlpage/gaoptout.
    </p>
    <p>
      Enfin, il se peut que nous partagions aussi vos Informations personnelles
      pour respecter les lois et règlementations applicables, répondre à une
      assignation, à un mandat de perquisition ou à toute autre demande légale
      de renseignements que nous recevons, ou pour protéger nos droits.
    </p>
    <h3>PUBLICITÉ COMPORTEMENTALE</h3>
    <p>
      Comme indiqué ci-dessus, nous utilisons vos Informations personnelles pour
      vous proposer des publicités ciblées ou des messages de marketing qui,
      selon nous, pourraient vous intéresser. Pour en savoir plus sur le
      fonctionnement de la publicité ciblée, vous pouvez consulter la page
      d'information de la Network Advertising Initiative (NAI) à l'adresse
      suivante :
    </p>
    <p>
      http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work.
    </p>
    <p>
      Vous pouvez refuser la publicité ciblée ici :
      https://www.google.com/settings/ads/anonymous. En outre, vous pouvez
      refuser certains de ces services en vous rendant sur le portail de
      désactivation de Digital Advertising Alliance à l'adresse suivante :
      https://optout.aboutads.info/?c=3&lang=fr.
    </p>
    <h3>NE PAS SUIVRE</h3>
    <p>
      Veuillez noter que nous ne modifions pas la collecte de données de notre
      Site et nos pratiques d'utilisation lorsque nous détectons un signal « Ne
      pas suivre » sur votre navigateur.
    </p>
    <h3>VOS DROITS</h3>
    <p>
      Si vous êtes résident(e) européen(ne), vous disposez d'un droit d'accès
      aux informations personnelles que nous détenons à votre sujet et vous
      pouvez demander à ce qu'elles soient corrigées, mises à jour ou
      supprimées.
    </p>
    <p>
      Si vous souhaitez exercer ce droit, veuillez nous contacter au moyen des
      coordonnées précisées ci-dessous. Par ailleurs, si vous êtes résident(e)
      européen(ne), notez que nous traitons vos informations dans le but de
      remplir nos obligations contractuelles à votre égard (par exemple si vous
      passez une commande sur le Site) ou de poursuivre nos intérêts commerciaux
      légitimes, énumérés ci-dessus.
    </p>
    <p>
      Veuillez également noter que vos informations seront transférées hors de
      l'Europe, y compris au Canada et aux États-Unis.
    </p>

    <p></p>
    <h3>RÉTENTION DES DONNÉES</h3>
    <p>
      Lorsque vous passez une commande par l'intermédiaire du Site, nous
      conservons les Informations sur votre commande dans nos dossiers, sauf si
      et jusqu'à ce que vous nous demandiez de les supprimer.
    </p>
    <h3>MINEURS</h3>
    <p>Le Site n'est pas destiné aux individus de moins de 18 ans.</p>
    <h3>CHANGEMENTS</h3>
    <p>
      Nous pouvons être amenés à modifier la présente politique de
      confidentialité de temps à autre afin d'y refléter, par exemple, les
      changements apportés à nos pratiques ou pour d'autres motifs
      opérationnels, juridiques ou réglementaires.
    </p>
    <h3>NOUS CONTACTER</h3>
    <p>
      Pour en savoir plus sur nos pratiques de confidentialité, si vous avez des
      questions ou si vous souhaitez déposer une réclamation, veuillez nous
      contacter par e-mail à vladimir.camalot@viacesi.fr, ou par courrier à
      l'adresse suivante : 8 Rue des Frères Charles et Alcide d' Orbigny, Pau,
      NAQ, 64000, France.
    </p>
  </div>
</template>

<script>
export default {
  name: "PrivacyPolicy",
};
</script>
