<template>
  <div class="restaurant-form">
    <div class="container">
      <FormFactory
        :form_inputs="form_inputs"
        :form_submit_btn="form_submit_btn"
        post_url="/restaurant"
        :put_url="'/restaurant/' + $route.params.id_restaurant"
        :form_default_data="form_default_data"
        :success_message="
          this.$route.params.id_restaurant
            ? 'Restaurant modifié !'
            : 'Restaurant créé !'
        "
        @uploadFile="sendImage"
        @beforeSend="addImageLink"
        :roles="roles"
        :form_action="this.$route.params.id_restaurant ? 'put' : 'post'"
        :edit_data_url="'/restaurant/' + $route.params.id_restaurant"
        prefix="restaurant"
      />
    </div>
  </div>
</template>

<script>
import FormFactory from "@/components/FormFactory";
import axios from "@/axios/index";

export default {
  name: "RestaurantForm",
  data() {
    return {
      form_submit_btn: {
        name: "submitRestaurant",
        label: "Enregistrer",
      },
      form_inputs: [
        {
          type: "text",
          name: "name",
          class: "col-6",
          label: "Nom",
        },
        {
          type: "text",
          name: "address",
          class: "col-6",
          label: "Adresse",
        },
        {
          type: "text",
          name: "description",
          class: "col-6",
          label: "Description",
        },
        {
          type: "number",
          name: "postcode",
          class: "col-6",
          label: "Code postal",
        },
        {
          type: "file",
          name: "image",
          class: "col-6",
          label: "Ajouter une image",
          accept: "image/*",
        },
        {
          type: "text",
          name: "city",
          class: "col-6",
          label: "Ville",
        },
      ],
      form_default_data: {
        owner: this.$store.state.user.user,
      },
      roles: ["restaurateur"],
      file: "",
    };
  },
  components: {
    FormFactory,
  },
  methods: {
    sendImage(event) {
      let images = event.target.files;
      if (typeof images != "undefined") {
        const formData = new FormData();
        for (const i of Object.keys(images)) {
          formData.append("files", images[i], Date.now() + ".png");
        }

        let config = {
          header: {
            "Content-Type": "image/png",
          },
        };
        axios.post("/upload-image", formData, config).then((response) => {
          this.file = response.data;
        });
      }
    },
    addImageLink(form_values) {
      form_values.image = this.file;
    },
  },
};
</script>
