<template>
  <div class="restaurant" style="margin-top: -3rem !important">
    <div class="container">
      <BannerNav :info="restaurant" link="Home" />
      <!-- <div class="mt-4 d-flex flex-row">
        <p>All</p>
        <p v-if="menus != null && menus.length > 0">Menu</p>
        <template v-if="types != null && types != 0">
          <p v-for="t in types" :key="t" :id="t">
            {{t}}
          </p>
        </template>
      </div> -->
      <div class="row mt-4">
        <h2
          v-if="
            menus.length > 0 || $store.state.user.user.role == 'restaurateur'
          "
        >
          Les Menus
          <router-link
            :to="{ name: 'MenuAdd' }"
            class="ms-4 btn btn-dark"
            v-if="$store.state.user.user.role == 'restaurateur'"
            >Ajouter un menu</router-link
          >
        </h2>
        <div
          class="col-6 col-md-4 mb-4 "
          v-for="menu in menus"
          :key="menu._id"
        >
          <ProductCard
            :product="menu"
            :product_route="{ name: 'Menu', params: { id_menu: menu._id } }"
            :edit_route="{ name: 'MenuEdit', params: { id_menu: menu._id } }"
            @onDeleteProduct="deleteMenu"
          />
        </div>
        <hr v-if=" menus.length > 0 && articles.length > 0 || $store.state.user.user.role == 'restaurateur'"/>
        <h2
          v-if="
            articles.length > 0 || $store.state.user.user.role == 'restaurateur'
          "
        >
          Les Articles
          <router-link
            class="ms-4 btn btn-dark"
            :to="{ name: 'ArticleAdd' }"
            v-if="$store.state.user.user.role == 'restaurateur'"
            >Ajouter un article</router-link
          >
        </h2>
        <!--<h2 v-if="articles >= 1">Les Articles</h2>-->
        <div
          class="col-6 col-md-4 mb-4"
          v-for="article in articles"
          :key="article._id"
        >
          <ProductCard
            :product="article"
            :product_route="{
              name: 'Article',
              params: { id_article: article._id },
            }"
            :edit_route="{
              name: 'ArticleEdit',
              params: { id_article: article._id },
            }"
            @onDeleteProduct="deleteArticle"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BannerNav from "@/components/BannerNav";
import ProductCard from "@/components/ProductCard";
import axios from "@/axios/index";
export default {
  name: "Restaurant",
  components: {
    BannerNav,
    ProductCard,
  },
  data() {
    return {
      menus: [],
      articles: [],
      restaurant: [],
      types: [],
    };
  },
  mounted() {
    axios
      .get("/menu/restaurant/" + this.$route.params.id_restaurant)
      .then((menus) => {
        this.$store.dispatch("handleResponse", {
          response: menus,
          access: {
            mustBeLogged: true,
          },
        });

        this.menus = menus.data;
      })
      .catch((error) => {
        this.$store.dispatch("handleResponse", {
          response: error,
          access: {
            mustBeLogged: true,
          },
        });

        console.error(error);
      });

    axios
      .get("/article/restaurant/" + this.$route.params.id_restaurant)
      .then((articles) => {
        this.$store.dispatch("handleResponse", {
          response: articles,
          access: {
            mustBeLogged: true,
          },
        });

        this.articles = articles.data;

        let tmp_types = [];
        for (var a of this.articles) {
          tmp_types.push(a.type);
        }
        this.types = [...new Set(tmp_types)];
      })
      .catch((error) => {
        this.$store.dispatch("handleResponse", {
          response: error,
          access: {
            mustBeLogged: true,
          },
        });

        console.error(error);
      });

    axios
      .get("/restaurant/" + this.$route.params.id_restaurant)
      .then((restaurant) => {
        this.$store.dispatch("handleResponse", {
          response: restaurant,
          access: {
            mustBeLogged: true,
          },
        });

        this.restaurant = restaurant.data;
      })
      .catch((error) => {
        this.$store.dispatch("handleResponse", {
          response: error,
          access: {
            mustBeLogged: true,
          },
        });

        console.error(error);
      });
  },
  methods: {
    deleteArticle(article_id) {
      axios
        .delete("/article/" + article_id)
        .then((response) => {
          this.$store.dispatch("handleResponse", {
            response: response,
            access: {
              mustBeLogged: true,
            },
          });
        })
        .catch((error) => {
          this.$store.dispatch("handleResponse", {
            response: error,
            access: {
              mustBeLogged: true,
            },
          });

          console.error(error);
        });
    },
    deleteMenu(menu_id) {
      axios
        .delete("/menu/" + menu_id)
        .then((response) => {
          this.$store.dispatch("handleResponse", {
            response: response,
            access: {
              mustBeLogged: true,
            },
          });
        })
        .catch((error) => {
          this.$store.dispatch("handleResponse", {
            response: error,
            access: {
              mustBeLogged: true,
            },
          });

          console.error(error);
        });
    },
  },
};
</script>
