<template>
  <div class="container">
    <h1 style="text-align: center">Statistiques</h1>
    <div class="row mt-5">
      <div class="col-md-6">
        <div class="row mb-3">
          <h2 class="text-center">Nombre de commandes journalières</h2>
        </div>
        <div class="row">
          <apexchart
            width="500"
            type="bar"
            :options="optionsOrdersDaily"
            :series="seriesOrdersDaily"
          ></apexchart>
        </div>
      </div>
      <div class="col-md-6 border-start border-2 border-dark">
        <div class="row mb-3">
          <h2 class="text-center">Chiffre d'affaires mensuel</h2>
        </div>
        <div class="row">
          <apexchart
            width="500"
            type="bar"
            :options="optionsSalesMonthly"
            :series="seriesSalesMonthly"
          ></apexchart>
        </div>
      </div>
    </div>
    <hr />
    <div class="row mt-5">
      <div class="col-md-6">
        <div class="row mb-3">
          <h2 class="text-center">Nombres d'inscrits</h2>
        </div>
        <div class="row">
          <apexchart
            width="500"
            type="pie"
            :options="optionsRegisters"
            :series="seriesRegisters"
          ></apexchart>
        </div>
      </div>
      <div class="col-md-6 border-start border-2 border-dark">
        <div class="row mb-3">
          <h2 class="text-center">Total des commandes passées</h2>
        </div>
        <div class="row">
          <apexchart
            width="500"
            type="bar"
            :options="optionsTotalOrders"
            :series="seriesTotalOrders"
          ></apexchart>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "@/axios/index";

export default {
  name: "Statistics",
  data: function () {
    return {
      optionsOrdersDaily: {
        chart: {
          id: "vuechart-line1",
        },
        xaxis: {
          categories: [],
        },
      },
      seriesOrdersDaily: [
        {
          name: "series-line1",
          data: [],
        },
      ],
      optionsSalesMonthly: {
        chart: {
          id: "vuechart-bar",
        },
        xaxis: {
          categories: [],
        },
      },
      seriesSalesMonthly: [
        {
          name: "series-bar",
          data: [],
        },
      ],
      optionsRegisters: {
        chart: {
          width: 380,
          type: "pie",
        },
        labels: [],
        responsive: [
          {
            breakpoint: 480,
            options: {
              chart: {
                width: 200,
              },
              legend: {
                position: "bottom",
              },
            },
          },
        ],
      },
      seriesRegisters: [],
      optionsTotalOrders: {
        chart: {
          id: "vuechart-line2",
        },
        xaxis: {
          categories: [],
        },
      },
      seriesTotalOrders: [
        {
          name: "series-line2",
          data: [],
        },
      ],
    };
  },
  mounted() {
    axios.get("/stats/orders-daily").then((stats) => {
      console.log(stats);
      for (let s of stats.data) {
        this.optionsOrdersDaily.xaxis.categories.push(s._id);
        this.seriesOrdersDaily[0].data.push(s.total);
      }
    });

    axios.get("/stats/sales-monthly").then((stats) => {
      console.log(stats);
      for (let s of stats.data) {
        this.optionsSalesMonthly.xaxis.categories.push(s._id);
        this.seriesSalesMonthly[0].data.push(s.total);
      }
    });

    axios.get("/stats/registers").then((stats) => {
      console.log(stats);
      for (let s of stats.data) {
        this.optionsRegisters.labels.push(s.role);
        this.seriesRegisters.push(s.count);
      }
    });

    axios.get("/stats/total-orders").then((stats) => {
      console.log(stats);
      for (let s of stats.data) {
        this.optionsTotalOrders.xaxis.categories.push(s._id);
        this.seriesTotalOrders[0].data.push(s.total);
      }
    });
  },
};
</script>
